<!DOCTYPE html>
<html>

<head>
    <title>Language Page</title>
    <style>
        body {
            color: white;
            background-color: #0b3a74;
        }

        h1 {
            color: white;
        }

        button[type="submit"] {
            color: white;
            background-color: #0a2a52;
        }

        div a {
            color: white;
            background-color: #0b3a74;
        }
    </style>
</head>

<body>
    <h1>Language Page</h1>

    <form action="/englishlanguage" method="post">
        <button type="submit">English Language</button>
    </form>

    <form action="/chinesetraditionallanguage" method="post">
        <button type="submit">Chinese Traditional Language</button>
    </form>

    <form action="/chinesesimplifiedlanguage" method="post">
        <button type="submit">Chinese Simplified Language</button>
    </form>

    <form action="/japaneselanguage" method="post">
        <button type="submit">Japanese Language</button>
    </form>

    <form action="/koreanlanguage" method="post">
        <button type="submit">Korean Language</button>
    </form>
    
    <br><br><br>

    <div>
        <a href="/">Main Page</a>
    </div>

</body>
</html>